# OS files
.DS_Store
.cache
Thumbs.db
# Visual Studio cache/options directory
.vs/
*.aps
*.vcxproj.user
/src/plugins/automation/generated/automation.tlb
/src/plugins/automation/generated/dlldata.c
/src/plugins/automation/generated/salamander_h.h
/src/plugins/automation/generated/salamander_i.c
/src/plugins/automation/generated/salamander_p.c
/src/plugins/7zip/vcxproj/7ZA/salamander/Debug_x64/plugins/7zip
/src/plugins/7zip/vcxproj/7ZA/salamander/Release_x64/plugins/7zip
/src/plugins/7zip/vcxproj/7zwrapper/salamander/Debug_x64/plugins/7zip
/src/plugins/7zip/vcxproj/7zwrapper/salamander/Release_x64/plugins/7zip
/src/plugins/7zip/vcxproj/salamander/Debug_x64/plugins/7zip
/src/plugins/7zip/vcxproj/salamander/Release_x64/plugins/7zip
/src/plugins/automation/vcxproj/salamander/Debug_x64/plugins/automation
/src/plugins/automation/vcxproj/salamander/Release_x64/plugins/automation
/src/plugins/checksum/vcxproj/salamander/Debug_x64/plugins/checksum
/src/plugins/checksum/vcxproj/salamander/Release_x64/plugins/checksum
/src/plugins/checkver/vcxproj/salamander/Debug_x64/plugins/checkver
/src/plugins/checkver/vcxproj/salamander/Release_x64/plugins/checkver
/src/plugins/dbviewer/vcxproj/salamander/Debug_x64/plugins/dbviewer
/src/plugins/dbviewer/vcxproj/salamander/Release_x64/plugins/dbviewer
/src/plugins/demomenu/vcxproj/salamander/Debug_x64/plugins/demomenu
/src/plugins/demomenu/vcxproj/salamander/Release_x64/plugins/demomenu
/src/plugins/demoplug/vcxproj/salamander/Debug_x64/plugins/demoplug
/src/plugins/demoplug/vcxproj/salamander/Release_x64/plugins/demoplug
/src/plugins/demoview/vcxproj/salamander/Debug_x64/plugins/demoview
/src/plugins/demoview/vcxproj/salamander/Release_x64/plugins/demoview
/src/plugins/diskmap/vcxproj/salamander/Debug_x64/plugins/diskmap
/src/plugins/diskmap/vcxproj/salamander/Release_x64/plugins/diskmap
/src/plugins/filecomp/vcxproj/fcremote/salamander/Debug_x64/plugins/filecomp
/src/plugins/filecomp/vcxproj/fcremote/salamander/Release_x64/plugins/filecomp
/src/plugins/filecomp/vcxproj/salamander/Debug_x64/plugins/filecomp
/src/plugins/filecomp/vcxproj/salamander/Release_x64/plugins/filecomp
/src/plugins/folders/vcxproj/salamander/Debug_x64/plugins/folders
/src/plugins/folders/vcxproj/salamander/Release_x64/plugins/folders
/src/plugins/ftp/vcxproj/salamander/Debug_x64/plugins/ftp
/src/plugins/ftp/vcxproj/salamander/Release_x64/plugins/ftp
/src/plugins/ieviewer/vcxproj/salamander/Debug_x64/plugins/ieviewer
/src/plugins/ieviewer/vcxproj/salamander/Release_x64/plugins/ieviewer
/src/plugins/mmviewer/vcxproj/salamander/Debug_x64/plugins/mmviewer
/src/plugins/mmviewer/vcxproj/salamander/Release_x64/plugins/mmviewer
/src/plugins/nethood/vcxproj/salamander/Debug_x64/plugins/nethood
/src/plugins/nethood/vcxproj/salamander/Release_x64/plugins/nethood
/src/plugins/pak/vcxproj/salamander/Debug_x64/plugins/pak
/src/plugins/pak/vcxproj/salamander/Release_x64/plugins/pak
/src/plugins/peviewer/vcxproj/salamander/Debug_x64/plugins/peviewer
/src/plugins/peviewer/vcxproj/salamander/Release_x64/plugins/peviewer
/src/plugins/pictview/vcxproj/exif/salamander/Debug_x64/plugins/pictview
/src/plugins/pictview/vcxproj/exif/salamander/Release_x64/plugins/pictview
/src/plugins/pictview/vcxproj/salamander/Debug_x64/plugins/pictview
/src/plugins/pictview/vcxproj/salamander/Release_x64/plugins/pictview
/src/plugins/portables/vcxproj/salamander/Debug_x64/plugins/portables
/src/plugins/portables/vcxproj/salamander/Release_x64/plugins/portables
/src/plugins/regedt/vcxproj/salamander/Debug_x64/plugins/regedt
/src/plugins/regedt/vcxproj/salamander/Release_x64/plugins/regedt
/src/plugins/renamer/vcxproj/salamander/Debug_x64/plugins/renamer
/src/plugins/renamer/vcxproj/salamander/Release_x64/plugins/renamer
/src/plugins/splitcbn/vcxproj/salamander/Debug_x64/plugins/splitcbn
/src/plugins/splitcbn/vcxproj/salamander/Release_x64/plugins/splitcbn
/src/plugins/tar/vcxproj/salamander/Debug_x64/plugins/tar
/src/plugins/tar/vcxproj/salamander/Release_x64/plugins/tar
/src/plugins/unarj/vcxproj/salamander/Debug_x64/plugins/unarj
/src/plugins/unarj/vcxproj/salamander/Release_x64/plugins/unarj
/src/plugins/uncab/vcxproj/salamander/Debug_x64/plugins/uncab
/src/plugins/uncab/vcxproj/salamander/Release_x64/plugins/uncab
/src/plugins/unchm/vcxproj/chmlib/salamander/Debug_x64/plugins/unchm
/src/plugins/unchm/vcxproj/chmlib/salamander/Release_x64/plugins/unchm
/src/plugins/unchm/vcxproj/salamander/Debug_x64/plugins/unchm
/src/plugins/unchm/vcxproj/salamander/Release_x64/plugins/unchm
/src/plugins/undelete/vcxproj/salamander/Debug_x64/plugins/undelete
/src/plugins/undelete/vcxproj/salamander/Release_x64/plugins/undelete
/src/plugins/unfat/vcxproj/salamander/Debug_x64/plugins/unfat
/src/plugins/unfat/vcxproj/salamander/Release_x64/plugins/unfat
/src/plugins/uniso/vcxproj/salamander/Debug_x64/plugins/uniso
/src/plugins/uniso/vcxproj/salamander/Release_x64/plugins/uniso
/src/plugins/unlha/vcxproj/salamander/Debug_x64/plugins/unlha
/src/plugins/unlha/vcxproj/salamander/Release_x64/plugins/unlha
/src/plugins/unmime/vcxproj/salamander/Debug_x64/plugins/unmime
/src/plugins/unmime/vcxproj/salamander/Release_x64/plugins/unmime
/src/plugins/unole/vcxproj/salamander/Debug_x64/plugins/unole
/src/plugins/unole/vcxproj/salamander/Release_x64/plugins/unole
/src/plugins/unrar/vcxproj/salamander/Debug_x64/plugins/unrar
/src/plugins/unrar/vcxproj/salamander/Release_x64/plugins/unrar
/src/plugins/wmobile/vcxproj/salamander/Debug_x64/plugins/wmobile
/src/plugins/wmobile/vcxproj/salamander/Release_x64/plugins/wmobile
/src/plugins/zip/vcxproj/salamander/Debug_x64/plugins/zip
/src/plugins/zip/vcxproj/salamander/Release_x64/plugins/zip
/src/plugins/zip/vcxproj/zip2sfx/salamander/Debug_x86/plugins/zip/zip2sfx/Intermediate/microsoft/STL
/src/plugins/zip/vcxproj/zip2sfx/salamander/Release_x86/plugins/zip/zip2sfx/Intermediate/microsoft/STL
/src/vcxproj/salamander/Debug_x64
/src/vcxproj/salamander/Release_x64
/src/vcxproj/salmon/salamander/Debug_x64
/src/vcxproj/salmon/salamander/Release_x64
/src/vcxproj/salopen/salamander/Debug_x64/plugins/Intermediate/salopen/Intermediate/microsoft/STL
/src/vcxproj/salopen/salamander/Release_x64/plugins/Intermediate/salopen/Intermediate/microsoft/STL
/src/vcxproj/salspawn/salamander/Debug_x64/plugins/Intermediate/salspawn/Intermediate/microsoft/STL
/src/vcxproj/salspawn/salamander/Release_x64/plugins/Intermediate/salspawn/Intermediate/microsoft/STL
/src/vcxproj/shellext/salamander/Debug_x64/plugins/Intermediate/salextx64/Intermediate/microsoft/STL
/src/vcxproj/shellext/salamander/Debug_x86/plugins/Intermediate/salextx86/Intermediate/microsoft/STL
/src/vcxproj/shellext/salamander/Release_x64/plugins/Intermediate/salextx64/Intermediate/microsoft/STL
/src/vcxproj/shellext/salamander/Release_x86/plugins/Intermediate/salextx86/Intermediate/microsoft/STL
/src/vcxproj/sqlite/salamander/Debug_x64
/src/vcxproj/sqlite/salamander/Release_x64

src/plugins/7zip/vcxproj/7ZA/salamander/Release_x86/

src/plugins/7zip/vcxproj/7zwrapper/salamander/Release_x86/

src/plugins/7zip/vcxproj/salamander/Release_x86/

src/plugins/automation/vcxproj/salamander/Release_x86/

src/plugins/checksum/vcxproj/salamander/Release_x86/

src/plugins/checkver/vcxproj/salamander/Release_x86/

src/plugins/dbviewer/vcxproj/salamander/Release_x86/

src/plugins/demomenu/vcxproj/salamander/Release_x86/

src/plugins/demoplug/vcxproj/salamander/Release_x86/

src/plugins/demoview/vcxproj/salamander/Release_x86/

src/plugins/diskmap/vcxproj/salamander/Release_x86/

src/plugins/filecomp/vcxproj/fcremote/salamander/Release_x86/

src/plugins/filecomp/vcxproj/salamander/Release_x86/

src/plugins/folders/vcxproj/salamander/Release_x86/

src/plugins/ftp/vcxproj/salamander/Release_x86/

src/plugins/ieviewer/vcxproj/salamander/Release_x86/

src/plugins/mmviewer/vcxproj/salamander/Release_x86/

src/plugins/nethood/vcxproj/salamander/Release_x86/

src/plugins/pak/vcxproj/salamander/Release_x86/

src/plugins/peviewer/vcxproj/salamander/Release_x86/

src/plugins/pictview/vcxproj/exif/salamander/Release_x86/

src/plugins/pictview/vcxproj/salamander/Release_x86/

src/plugins/portables/vcxproj/salamander/Release_x86/

src/plugins/regedt/vcxproj/salamander/Release_x86/

src/plugins/renamer/vcxproj/salamander/Release_x86/

src/plugins/splitcbn/vcxproj/salamander/Release_x86/

src/plugins/tar/vcxproj/salamander/Release_x86/

src/plugins/unarj/vcxproj/salamander/Release_x86/

src/plugins/uncab/vcxproj/salamander/Release_x86/

src/plugins/unchm/vcxproj/chmlib/salamander/Release_x86/

src/plugins/unchm/vcxproj/salamander/Release_x86/

src/plugins/undelete/vcxproj/salamander/Release_x86/

src/plugins/unfat/vcxproj/salamander/Release_x86/

src/plugins/uniso/vcxproj/salamander/Release_x86/

src/plugins/unlha/vcxproj/salamander/Release_x86/

src/plugins/unmime/vcxproj/salamander/Release_x86/

src/plugins/unole/vcxproj/salamander/Release_x86/

src/plugins/unrar/vcxproj/salamander/Release_x86/

src/plugins/wmobile/vcxproj/salamander/Release_x86/

src/plugins/zip/vcxproj/salamander/Release_x86/

src/vcxproj/salmon/salamander/Release_x86/

src/vcxproj/salopen/salamander/Release_x86/

src/vcxproj/salspawn/salamander/Release_x86/

src/vcxproj/sqlite/salamander/Release_x86/
