// SPDX-FileCopyrightText: 2026 Open Salamander Authors
// SPDX-License-Identifier: GPL-2.0-or-later

#pragma code_page(65001)

#include "javascriptruntime.rh"
#include "winresrc.h"

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

IDI_PLUGINICON ICON "..\\..\\res\\sal_r.ico"

#ifndef APSTUDIO_INVOKED
#include "javascriptruntime.rc2"
#endif



