node_modules/**
.gitignore
src/**
test/**
*.tsbuildinfo
build.mjs
build-host.mjs
package-vsix.mjs
tsconfig.json
vitest.config.ts
package-lock.json
*.vsix
dist/**/*.map
preview-host/**
native/**/*.pdb
